<meta name="keywords" content="2015, northbynorthwestern, northwestern, housing, guide, freshman, dorm, dormitory, evanston, illinois, college">
<meta name="description" content="The North by Northwestern Freshman Housing Guide, featuring photos, videos, statistics and the opinions of current residents of Northwestern University's housing options.">


{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ TWITTER_HANDLE }}">

{# Facebook #}
<meta property="og:title" content="North by Northwestern Housing Guide" />
<meta property="og:url" content="http://apps.northbynorthwestern.com/housing/2015" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ PROJECT_DESCRIPTION }}" />
<meta property="og:site_name" content="northbynorthwestern.com" />
<meta property="og:image" content="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/_graphics/housing/nbn-housing-guide-teaser.jpg" />
