{% extends "_base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="../css/style.sass.css" />
<link rel="stylesheet" href="/css/style.sass.css" />

{% endblock extra_css %}

{% block header_content %}

<div id="header">
    <div class="grid">
        <div class="grid__item one-whole desk-two-thirds float-left">
            <h1><a href="../../"><span class="smaller">The </span>Housing Guide</a></h1>
            <a href="http://rezessentials.com"><img class="sponsored-by" src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2016/05/housing_guide/rezessentials-sponsoredby.png"></a>
        </div><!--
     --><div class="grid__item one-whole desk-one-third">
            <div id="search-container">
      <select id="searchbox" name="" data-placeholder="Select a hall" single class="chosen-select">
      <option></option>
        {% for dorm in COPY.dorms %}
        {% if dorm.short_name != 'short_name' %}
        <option value="../{{ dorm.slug }}">{{ dorm.short_name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
        </div>
  <div style="clear: both;"></div>
    </div>
</div>

{% endblock %}

{% block content %}

    <div class="grid">
        <div id="detail-main-container" class="grid__item one-whole desk-three-quarters float-right">

            <div class="ad float-right">
              <p class="small">Advertisement</p>
              <a href="http://rezessentials.com" target="_blank"><img src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2016/05/23/resessentials_ad.png"></a>
            </div>

            <div class="header">
              <h2>{{ dorm.name }}</h2>
              <h3>{{ dorm.address }}</h3>
              <p class="body-text reduced-width padding-top">{{ dorm.blurb|safe }}</p>
            </div>

            <div class="padding-top">
              <div id="photo-tab" class="tab float-left" >
              <img src="http://nbn-housing.s3.amazonaws.com/static/img/photo-icon.png">
              <h3>Photo</h3>
            </div>

            {% if dorm.video_embed %}
            <div id="video-tab" class="tab float-left">
              <img src="http://nbn-housing.s3.amazonaws.com/static/img/video-icon.png">
              <h3>Video</h3>
            </div>
            {% endif %}
            <div id="media-container" class="clear reduced-width">
          <div class="rslides_container">
          <ul class="rslides">
              {% for image in images %}
                  <li class="image">
                      <img src="{{image.url}}">
                      {% if image.caption %}
                          <span class="image-caption">{{ image.caption }}</span>
                      {% endif %}
                  </li>
              {% endfor %}
          </ul>
          </div>
                    <div id="embed-container">

          </div>
                </div>

        <h3 class="padding-top hidden-desktop">Vital stats</h3>
        <div class="grid padding-top hidden-desktop">
          <div class="grid__item one-whole lap-one-third stats-item">
            <p class="body-text">{{dorm.campus_side}} campus</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_tech|float }}</span> minute walk to Tech</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_norris|float }}</span> minute walk to Norris</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_rock|float }}</span> minute walk to The Rock</p>
          </div><!--
         --><div class="grid__item one-whole lap-one-third stats-item">
            <p class="body-text"><span class="number">{{ dorm.doubles|float|round|int }}</span> doubles</p>
            <p class="body-text">+ <span class="number">{{ dorm.singles|float|round|int }}</span> singles</p>
            <p class="body-text">+ <span class="number">{{ dorm.triples|float|round|int }}</span> triples</p>
            <p id="sum" class="body-text"><span class="number">{{ dorm.size|float|round|int }}</span></span> residents</p>
            <p class="body-text padding-top"><span class="number">{{dorm.room_dimensions}}</span> room (double)</p>
            {% if dorm.cost_single %}
            <p class="body-text">$<span class="number">{{dorm.cost_single}}</span> per single/quarter</p>
            {% endif %}
            {% if dorm.cost_double %}
            <p class="body-text">$<span class="number">{{dorm.cost_double}}</span> per double/quarter</p>
            {% endif %}
            {% if dorm.cost_triple %}
            <p class="body-text">$<span class="number">{{dorm.cost_triple}}</span> per triple/quarter</p>
            {% endif %}
          </div><!--
         --><div class="grid__item one-whole lap-one-third stats-item">
            {% if dorm.has_ac == "TRUE" %}
              <p class="body-text">Air conditioning</p>
            {% else %}
              <p class="body-text">No air conditioning</p>
            {% endif %}
            {% if dorm.dining == "TRUE" %}
              <p class="body-text">Dining hall in building</p>
            {% endif %}
            {% if dorm.dorm_type == 'Hall' %}
              <p class="body-text">Residence hall</p>
            {% endif %}
            {% if dorm.dorm_type == 'College' %}
              <p class="body-text">Residential college</p>
            {% endif %}
            {% if dorm.dorm_type == 'Community' %}
              <p class="body-text">Residential community</p>
            {% endif %}
            {% if dorm.dorm_type == 'Special Interest Housing' %}
              <p class="body-text">Special interest housing</p>
            {% endif %}
            {% if dorm.social_rating %}
            <p class="body-text padding-top">NBN Social Rating: <span class="number">{{dorm.social_rating|float}}</span><span class="sans-serif">/5.0</span></p>
            <p class="small methodology">Unscientifically calculated from an average of about five student responses.</p>
            {% endif %}
          </div>
        </div>

          {% if quotes %}
          <div class="padding-top reduced-width">
            <h3>What residents say</h3>
            {% for quote in quotes %}
              <p class="body-text quote padding-top">&ldquo;{{ quote.text }}&rdquo;</p>
              <p class="quote-attr">{{ quote.source }}</p>
            {% endfor %}
          </div>
          {% endif %}

          {% if nonres_quotes %}
                <div class="padding-top reduced-width">
                    <h3 class="padding-top">What non-residents say</h3>
          {% for quote in nonres_quotes %}
                    <p class="body-text quote padding-top">&ldquo;{{ quote.text }}&rdquo;</p>
            <p class="quote-attr">{{ quote.source }}</p>
          {% endfor %}
                </div>
          {% endif %}

            </div>
        </div>
        <div id="detail-sidebar-container" class="grid__item one-whole desk-one-quarter float-left">
          <div id="small-map">
          </div>
        <h3 class="padding-top display-desktop">Vital stats</h3>
        <div class="display-desktop">
          <div class="padding-top stats-item">
            <p class="body-text">{{dorm.campus_side}} campus</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_tech }}</span> minute walk to Tech</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_norris }}</span> minute walk to Norris</p>
            <p class="body-text"><span class="number">{{ dorm.dist_to_rock }}</span> minute walk to the Rock</p>
          </div>

          {% if dorm.social_rating %}
          <div class="stats-item">
            <p class="body-text">NBN Social Rating: <span class="number">{{dorm.social_rating|float}}</span><span class="sans-serif"> / 5.0</span></p>
            <p class="small methodology">Unscientifically calculated from an average of about five student responses.</p>
          </div>
          {% endif %}

          <div class="stats-item">
            <p class="body-text"><span class="number">{{ dorm.doubles|float|round|int }}</span> doubles</p>
            <p class="body-text">+ <span class="number">{{ dorm.singles|float|round|int }}</span> singles</p>
            <p class="body-text">+ <span class="number">{{ dorm.triples|float|round|int }}</span> triples</p>
            <p id="sum" class="body-text"><span class="number">{{ dorm.size|float|round|int }}</span></span> residents</p>
          </div>
          <div class="stats-item">
            {% if dorm.has_ac == "True" %}
              <p class="body-text">Air conditioning</p>
            {% else %}
              <p class="body-text">No air conditioning</p>
            {% endif %}
            {% if dorm.dining == "True" %}
              <p class="body-text">Dining hall in building</p>
            {% endif %}
            {% if dorm.dorm_type == 'Hall' %}
              <p class="body-text">Residence hall</p>
            {% endif %}
            {% if dorm.dorm_type == 'College' %}
              <p class="body-text">Residential college</p>
            {% endif %}
            {% if dorm.dorm_type == 'Community' %}
              <p class="body-text">Residential community</p>
            {% endif %}
            {% if dorm.dorm_type == 'Special Interest Housing' %}
              <p class="body-text">Special interest housing</p>
            {% endif %}
          </div>
          <div class="stats-item">
            {% if dorm.room_dimensions %}
            <p class="body-text"><span class="number"> {{dorm.room_dimensions}}</span> room (double)</p>
            {% endif %}
            {% if dorm.cost_single %}
            <p class="body-text">$<span class="number">{{dorm.cost_single}}</span> per single/year</p>
            {% endif %}
            {% if dorm.cost_double %}
            <p class="body-text">$<span class="number">{{dorm.cost_double}}</span> per double/year</p>
            {% endif %}
            {% if dorm.cost_triple %}
            <p class="body-text">$<span class="number">{{dorm.cost_triple}}</span> per triple/year</p>
            {% endif %}
          </div>
        </div>
        </div>
    </div>
    <script type="text/javascript">

      var slug = "{{slug}}";
      window.dorm_url = 'http://nbn-housing.s3.amazonaws.com/static/json/' + slug + '.json';
      window.dorm_video = "{{dorm.video_embed}}";
    </script>
{% endblock %}

{% block extra_foot_js %}
  <script src='../../js/detail.js'></script>

{% endblock %}

